.navbar { 
    background-color: rgb(255, 255, 255) !important;
    height: 90px;
}
.navbar-brand {
    margin-left: 10px;
    color: white !important;
}


/* Remove duplicate nav styling */
nav {
    background-color: transparent !important; 
}
