#business{
    background-color: black;
    color: white;
    
}
.row{
    padding: 20px;
}
#first{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 55px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
}